---
import { EXPERIENCE } from "@constants";
import Link from "./icons/Link.astro";
import Subtitle from "./Subtitle.astro";
---

<section
  class="flex flex-col space-y-4 delay-200 duration-500 animate-in fade-in slide-in-from-bottom-4 fill-mode-backwards"
>
  <Subtitle> Experience </Subtitle>

  {
    EXPERIENCE.map(({ title, description, time, company, company_url }) => (
      <ol class="">
        <li class="">
          <div class="relative mx-12 pb-1 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4">
            <div class="relative pb-12 md:col-span-2">
              <div class="sticky top-0">
                <div class="-left-[40px] absolute mt-2 h-3 w-3 rounded-full border border-neutral-400 bg-neutral-200 dark:border-neutral-600 dark:bg-neutral-800" />
                <time class="mb-2 font-mono text-xs font-normal leading-none text-neutral-600 dark:text-neutral-400">
                  {time}
                </time>
                <h3 class="text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
                  {title}
                </h3>
                <a
                  href={company_url}
                  target="_blank"
                  rel="noopener"
                  class="group flex w-max items-center text-pretty text-sm text-neutral-600 transition-colors duration-150 hover:text-black dark:border-neutral-800 dark:text-neutral-400 dark:hover:text-white"
                >
                  <span>{company}</span>
                  <Link class="lucide-icon lucide lucide-arrow-up-right ml-1 duration-150 group-hover:translate-x-[1.5px]" />
                </a>
              </div>
            </div>
            <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3 max-w-xl">
              {description}
            </div>
          </div>
        </li>
      </ol>
    ))
  }
</section>
